.navbar-wrapper {
  background-color: #EADDCA;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  color: #333;
 
}


.navbar-logo .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-logo .logo-name {
  font-weight: bold;
}

.navbar-middle {
  flex-grow: 1;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  
}

.btn {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
  color: #0e0d0d;
  text-align: -webkit-match-parent;

}

.btn-primary {
  background-color: #cadcf3;
  color:#000;
  border: none;
}

.btn-outline-primary {
  background-color: transparent;
  border: none;
  color: #333;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#signup-btn {
  background-color: #EADDCA;
  border: none;
 
  
}

#signup-btn:hover {
  background-color: #EADDCA;
  
}

#login-btn {
  color: #333;
}
  #login-btn {
    margin-left: auto;
    
  }
  
  


#login-btn:hover {
  background-color: #EADDCA;
}

#logout-btn {
  background-color: transparent;
  
}

#logout-btn:hover {
  background-color: transparent;
}

#profile-btn {
  color: #333;
  border: none;
  background-color: transparent;
}

#profile-btn:hover {
  color: #000;
}

